:root{
  --cardHeight: 300px;
  --animation-delay: 0.2s;
}

@keyframes fadeInUp{
  0%{opacity: 0; padding-top: 30px;}
  100%{opacity: 1; padding-top: 0px;}
}

#myWork #container{
  padding-top: 30px;
  margin-left: calc(25px + 15%);
  margin-right: calc(25px + 15%);
}

#myWork #container .cardContainer{
  float: left;
  width: calc(50% - 2px);
  height: var(--cardHeight);
  margin: 0px;
  margin-bottom: 80px;
}
#myWork #container .cardContainer:nth-child(1){
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: var(--animation-delay);
}
#myWork #container .cardContainer:nth-child(2){
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
#myWork #container .cardContainer:nth-child(3){
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 3);
}

#myWork #container .cardContainer #card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

#myWork #container .cardContainer #card .projDescription{
  position: relative;
  padding-top: 50px;
  height: var(--cardHeight);
  margin-top: calc(-1 * var(--cardHeight) - 50px);
  transition: margin 0.4s;
}
#myWork #container .cardContainer #card .projDescription p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
#myWork #container .cardContainer #card .projDescription p:hover{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(168, 71, 71, 0.8);
  color: white;
}
#myWork #container .cardContainer #card .projDescription img{
  position: relative;
  margin-right: 10px;
  top: 4px;
  height: 20px;
}

#myWork #container .cardContainer #card:hover .imgContainer {
  height: calc(var(--cardHeight) * 0.4);
  width: 100%;
  overflow: hidden;
}
#myWork #container .cardContainer #card .imgContainer {
  height: 80%;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s;
}
#myWork #container .cardContainer:nth-child(1) #card .imgContainer{
  background: url("Assets/Projects/this-min.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#myWork #container .cardContainer:nth-child(2) #card .imgContainer{
  background: url("Assets/Projects/htp.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#myWork #container .cardContainer:nth-child(3) #card .imgContainer{
  background: url("Assets/Projects/Waste2O.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#myWork #container .cardContainer:nth-child(4) #card .imgContainer{
  background: url("Assets/Projects/Cricket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#myWork #container .cardContainer #card h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  border-radius: 10px;
  transition: margin 0.3s;
}
#myWork #container .cardContainer #card:hover h2{
  margin-top: 20px;
}

#myWork #container .cardContainer #card p{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 900px){
  #myWork #container{
    padding-top: 0px;
    margin-left: calc(25px + 5%);
    margin-right: calc(25px + 5%);
  }
  #myWork #container .cardContainer{
    width: 100%;
    height: var(--cardHeight);
    margin: 0px;
    margin-bottom: 50px;
  }

  #myWork #container .cardContainer #card{
    height: 105%;
  }
  #myWork #container .cardContainer #card h2{
    margin-top: 20px;
  }
  #myWork #container .cardContainer #card:hover .imgContainer {
  }
  #myWork #container .cardContainer #card .imgContainer {
    height: calc(var(--cardHeight) * 0.45);
    width: 100%;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s;
  }
}
