:root{
  --animation-delay: 0.1s;
}

@keyframes fadeInUp{
  0%{opacity: 0; padding-top: 30px;}
  100%{opacity: 1; padding-top: 0px;}
}
@keyframes fadeIn{
  0%{opacity: 0}
  100%{opacity: 1}
}

body {
  padding: 0px;
  margin: 0px;
}

.header {
  padding-top: 100px;
  padding-bottom: 20px;
  height: auto;
  width: 100%;
}
.header #me{
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.header #me img{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: transform 0.3s;
}
.header #me img:hover{
  transform: scale(1.1);
}
.header #me #name{
  display: inline-block;
  margin-left: 20px;
  margin-top: -10px;
}
.header #me #name h1{
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}
.header #me #name h2{
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  color: rgb(161, 159, 159);
  margin-left: 3px;
  font-size: 120%;
}
@media screen and (max-width: 600px) {
  .header #me #name h1{
    font-size: 150%;
  }
  .header #me #name h2{
    font-size: 100%;
  }
  .header #me img{
    width: 75px;
    height: 75px;
  }
}


.menuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #menu{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  font-size: 80%;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: var(--animation-delay);
}
.header #menu h2{
  display: inline-block;
  text-align: center;
  width: 90px;
  font-family: 'Roboto', sans-serif;
  color: rgb(75, 139, 183);
  transition: color 0.2s;
}
.header #menu h2:hover{
  cursor: pointer;
  color: rgb(46, 86, 113);
}
.header #menu #lastMenu{
  border-right: 0px solid black;
}
.header #menu #filler{
  display: inline-block;
  color: rgb(194, 194, 194);
  width: 10vw;
}
.header #divider{
  display: border;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-bottom: 1px solid rgb(194, 194, 194);
  width: 70%;
}
@media screen and (max-width: 750px) {
  .header #menu #filler{
    width: 20px;
  }
}


.body{
  padding-top: 10px;
  padding-bottom: 150px;
}

.body h1{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 250%;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
.body #aboutMe #row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 3);
}
.body #aboutMe #row .image{
  display: inline-block;
  height: 300px;
  width: 250px;
  transition: transform 0.3s;
}
.body #aboutMe #row .image:hover{
  transform: scale(1.1);
}
.body #aboutMe #row .image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.body #aboutMe #row .image p{
  position: relative;
  text-align: center;
  height: 30px;
  line-height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  z-index: -1;
  transition: margin-top 0.4s;
}
.body #aboutMe #row .image #hidden1, #hidden2{
  margin-top: -50px;
}
.body #aboutMe #row .image #visible1, #visible2{
  margin-top: 10px;
}
.body #aboutMe #row #spacer{
  height: 100%;
  width: 10vw;
  background-position: red;
}
.body #aboutMe #row #text{
  display: inline-block;
  height: 300px;
  width: 400px;
}
.body #aboutMe #row #text p{
  margin-top: 0px;
  font-size: calc(14px + 1vw);
  font-family: 'Open Sans', sans-serif;
}
.body #aboutMe #row #text a{
  color: rgb(75, 139, 183);
  font-weight: bold;
}
.body #aboutMe #row #text a:hover{
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .body #aboutMe #row .image, .body #row #text, .body #row{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .body #aboutMe #row #text{
    height: auto;
    width: 100%;
    text-align: justify;
  }
  .body #aboutMe #row .image{
    width: 100%;
    max-width: 250px;
  }
  .body #aboutMe #row #spacer{
    display: block;
    height: 50px;
  }
  .body #aboutMe #row {
    display: block;
    height: auto;
  }
}



.body #contact #subject{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: 25%;
  min-width: 200px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: white;
  margin-left: calc(30% - 40px);
  margin-top: 20px;
  font-size: calc(16px + 1vw);
  border-bottom: 1px solid black;
  transition: border 0.2s;
  transition: background-color 0.5s ease;
  background-color: white;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay));
}
.body #contact #subject:focus{
  color: rgb(75, 139, 183);
}

.body #contact #body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: calc(40% + 80px);
  height: 400px;
  font-family: arial;
  box-sizing: border-box;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-left: calc(30% - 40px);
  margin-top: 50px;
  font-size: calc(12px + 1vw);
  resize: none;
  transition: background-color 0.5s ease;
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
.body #contact #body:focus{
  color: rgb(75, 139, 183);
}

.body #contact #buttonwrapper{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: 230px;
  height: 50px;
  background-color: rgba(75, 139, 183, 0.4);
  border-radius: 25px;
  text-align: center;
  color: black;
  margin-left: calc(30% - 40px);
  margin-top: 50px;
  font-size: calc(12px + 1vw);
  resize: none;
  transition: background-color 0.5s ease;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
.body #contact #button{
  width: 50px;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(35,34,46);
  transition: width 0.5s;
}
.body #contact #buttonWrapper:hover #button{
  width: 100%;
}
.body #contact #buttonWrapper #button img{
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  font-family: 'Roboto', serif;
  color: white;
  margin-left: 0px;
  transition: margin-left 0.5s;
}
.body #contact #buttonWrapper:hover #button img{
  margin-left: 80%;
}
.body #contact #buttonWrapper #buttonText{
  position: relative;
  font-size: 20px;
  top: -39px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  transition: color 0.4s;
}

.body #contact #buttonWrapper:hover #buttonText{
  color: white;
}

#resumeViewHidden{
  display: none;
}
#resumeViewVisible{
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

}
#close{
  position: fixed;
  right: calc(3%);
  top: 20px;
  width: 5%;
  max-width: 60px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
#close:hover{
  opacity: 1;
}
#resume{
  position: fixed;
  left: 12.5%;
  top: 5%;
}
