:root{
  --animation-delay: 0.1s;
  --header-height: 120px;
  --header-animation-time: 0.3s;
}

@keyframes fadeInUp{
  0%{opacity: 0; padding-top: 30px;}
  100%{opacity: 1; padding-top: 0px;}
}
@keyframes fadeIn{
  0%{opacity: 0}
  100%{opacity: 1}
}

body {
  padding: 0px;
  margin: 0px;
}

.header {
  position: fixed;
  /* background-color: rgba(252, 242, 237, 0.9); */
  background-color: rgb(252, 252, 252);
  /* padding-top: 20px; */
  /* padding-bottom: 15px; */
  height: var(--header-height);
  width: 100%;
  box-shadow: 0px 5px 5px rgba(60, 30, 30, 0.1);
  transition: height var(--header-animation-time);
}
.header #me {
  /* border: 1px solid black; */
  display: inline-block;
  margin-top: calc(var(--header-height) * 0.2);
  height: calc(var(--header-height) * 0.6);
  margin-bottom: calc(var(--header-height) * 0.2);
  margin-left: 40px;
  margin-right: calc(var(--header-height) * 0.4);
  transition: height var(--header-animation-time), margin var(--header-animation-time);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.header #me img {
  display: inline-block;
  width: auto;
  height: calc(var(--header-height) * 0.6);
  border-radius: 5px;
  transition: transform 0.3s, height var(--header-animation-time);
}
.header #me img:hover {
  transform: scale(1.1);
}
.header #me #name {
  display: inline-block;
  vertical-align: top;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
.header #me #name h1 {
  margin: 0px;
  font-size: calc(var(--header-height) / 4);
  font-family: 'Roboto Slab', serif;
  transition: font-size var(--header-animation-time);
}
.header #me #name h2 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  color: rgb(161, 159, 159);
  margin-left: 3px;
  font-size: calc(var(--header-height) / 5.5);
  transition: font-size var(--header-animation-time);
}


.header #menu {
  /* border: 1px solid orange; */
  display: inline-block;
  vertical-align: top;
  line-height: calc(var(--header-height) * 1);
  height: var(--header-height);
  font-size: 80%;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: var(--animation-delay);
  transition: height var(--header-animation-time), line-height var(--header-animation-time);
}
.header #menu h2 {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
  display: inline-block;
  text-align: center;
  width: 150px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: rgb(75, 139, 183);
  background-color: rgba(255, 245, 238, 0);
  text-shadow: 0px 0px rgb(59, 106, 138);
  transition: color 0.2s, background-color 0.4s, transform 0.3s, text-shadow 0.3s;
}
.header #menu h2:hover {
  cursor: pointer;
  /* color: rgb(46, 86, 113); */  
  transform: translateY(-6px);
  /* text-shadow: -1px 1px rgb(40, 74, 97); */
}

.header #menuMin {
  display: none;
  float: right;
  margin-top: calc(var(--header-height) * 0.3);
  margin-right: 20px;
  height: calc(var(--header-height) * 0.4);
  transition: height var(--header-animation-time), margin var(--header-animation-time), transform 0.3s;
}
.header #menuMin:hover {
  transform: translateX(-5px);
}

@media screen and (max-width: 1050px) {
  .header #menu {
    display: none;
  }
  .header #menuMin {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 90px;
  }
}


.body{
  padding-top: 150px;
  padding-bottom: 100px;
}

.body h1{
  margin-bottom: 80px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 250%;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}

.body #aboutMe .customButton{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 30px;
  margin-left: 20%;
  margin-bottom: 100px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 3);
}
.body #aboutMe .customButton:hover{

}
.body #aboutMe .customButton img{
  margin-left: 10px;
  display: inline-block;
  height: 100%;
  transition: transform 0.5s;
}
.body #aboutMe .customButton:hover img{
  transform: rotate(360deg);
}
.body #aboutMe .customButton p{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: -5px;
  text-align: center;
  height: 30px;
  margin: 0px;
  margin-left: 10px;
  line-height: 28px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  transition: margin-top 0.4s;
  cursor: pointer;
}
.body #aboutMe #text{
  margin-left: 20%;
  margin-right: 20%;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 3);
}
.body #aboutMe #text p{
  margin-top: 0px;
  font-size: calc(14px + 0.8vw);
  font-family: 'Open Sans', sans-serif;
}
.body #aboutMe #text a{
  color: rgb(75, 139, 183);
  font-weight: bold;
}
.body #aboutMe #text a:hover{
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .body h1{
    margin-bottom: 50px;
  }
  .body #aboutMe .customButton{
    margin-left: 18%;
  }
  .body #aboutMe #text{
    margin-left: 18%;
    margin-right: 18%;
    height: auto;
    font-size: 20px;
    text-align: justify;
  }
}



.body #contact #subject{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: 25%;
  min-width: 200px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: white;
  margin-left: calc(30% - 40px);
  margin-top: 20px;
  font-size: calc(16px + 1vw);
  border-bottom: 1px solid black;
  transition: border 0.2s;
  transition: background-color 0.5s ease;
  background-color: white;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay));
}
.body #contact #subject:focus{
  color: rgb(75, 139, 183);
}

.body #contact #body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: calc(40% + 80px);
  height: 400px;
  font-family: arial;
  box-sizing: border-box;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-left: calc(30% - 40px);
  margin-top: 50px;
  font-size: calc(12px + 1vw);
  resize: none;
  transition: background-color 0.5s ease;
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
.body #contact #body:focus{
  color: rgb(75, 139, 183);
}

.body #contact #buttonwrapper{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: 230px;
  height: 50px;
  background-color: rgba(75, 139, 183, 0.4);
  border-radius: 25px;
  text-align: center;
  color: black;
  margin-left: calc(30% - 40px);
  margin-top: 50px;
  font-size: calc(12px + 1vw);
  resize: none;
  transition: background-color 0.5s ease;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-delay) * 2);
}
.body #contact #button{
  width: 50px;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(35,34,46);
  transition: width 0.5s;
}
.body #contact #buttonWrapper:hover #button{
  width: 100%;
}
.body #contact #buttonWrapper #button img{
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  font-family: 'Roboto', serif;
  color: white;
  margin-left: 0px;
  transition: margin-left 0.5s;
}
.body #contact #buttonWrapper:hover #button img{
  margin-left: 80%;
}
.body #contact #buttonWrapper #buttonText{
  position: relative;
  font-size: 20px;
  top: -39px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  transition: color 0.4s;
}

.body #contact #buttonWrapper:hover #buttonText{
  color: white;
}

#resumeViewHidden{
  display: none;
}
#resumeViewVisible{
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

}
#close{
  position: fixed;
  right: calc(3%);
  top: 20px;
  width: 5%;
  max-width: 60px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
#close:hover{
  opacity: 1;
}
#resume{
  position: fixed;
  left: 12.5%;
  top: 5%;
}
