.TileGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .Tile {
    border: 1px solid black;
    height: 30rem;
    width: 30rem;
  }
}

/*.header-background {*/
/*  position: absolute;*/
/*  left: 2%;*/
/*  top: 2%;*/
/*  width: 96%;*/
/*  height: 96%;*/
/*  transition: background-image 2s ease-in-out;*/
/*  background-position: bottom;*/
/*  background-size: cover;*/
/*  border-radius: 20px;*/
/*}*/

/*.filler {*/
/*  flex-grow: 1;*/
/*}*/

/*.section-list {*/
/*  display: flex;*/
/*  gap: 15px;*/
/*  position: absolute;*/
/*  top: calc(2% + 20px);*/
/*  left: calc(2% + 20px);*/
/*  width: calc(96% - 40px);*/
/*}*/

/*.section {*/
/*  display: flex;*/
/*  height: 35px;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*  backdrop-filter: blur(4px);*/
/*  padding: 10px 15px;*/
/*  border-radius: 20px;*/
/*  background-color: rgba(0, 0, 0, 0.2);*/
/*  color: white;*/
/*  cursor: pointer;*/
/*}*/

/*.section .icon {*/
/*  height: 100%;*/
/*  aspect-ratio: 1 / 1;*/
/*}*/

/*.section .icon svg {*/
/*  !* fill: white; *!*/
/*  stroke: white;*/
/*  !* stroke-width: 2px; *!*/
/*}*/
